services:
  spark-master:
    build:
      context: .
      dockerfile: Dockerfile.spark
    container_name: spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master --host spark-master
    ports:
      - "8080:8080"
      - "7077:7077"
    environment:
      - SPARK_MODE=master
    networks:
      - bigdata_net
    volumes:
      - ./app:/app

  spark-worker:
    build:
      context: .
      dockerfile: Dockerfile.spark
    container_name: spark-worker
    depends_on:
      - spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    ports:
      - "8081:8081"
    environment:
      - SPARK_MASTER=spark://spark-master:7077
    networks:
      - bigdata_net
    volumes:
      - ./app:/app

  jupyter:
    build:
      context: .
      dockerfile: Dockerfile.jupyter
    container_name: jupyter
    command: jupyter lab --ip=0.0.0.0 --no-browser --NotebookApp.token='' --allow-root
    ports:
      - "8888:8888"
    volumes:
      - ./app:/app
    depends_on:
      - spark-master
    networks:
      - bigdata_net
    environment:
      JUPYTER_ENABLE_LAB: "yes"

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: phighload
      POSTGRES_DB: highload_db
    ports:
      - 5432:5432
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./data:/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - bigdata_net

  clickhouse:
      image: clickhouse/clickhouse-server:23.7
      container_name: clickhouse
      ports:
        - "8123:8123"   # HTTP interface
        - "9000:9000"   # Native TCP interface
      volumes:
        - ch_data:/var/lib/clickhouse
      ulimits:
        nofile:
          soft: 262144
          hard: 262144
      networks:
        - bigdata_net

  neo4j:
    image: neo4j:5.24
    ports:
      - 7474:7474
      - 7687:7687
    environment:
      NEO4J_AUTH: neo4j/password
    volumes:
      - neo_data:/data
    networks:
      - bigdata_net

  # Опционально: MongoDB
  mongo:
    image: mongo:8.0
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo_data:/data/db
    networks:
      - bigdata_net

  # Опционально: Valkey
  valkey:
    image: valkey/valkey:7.2
    ports:
      - 6379:6379
    volumes:
      - valkey_data:/data
    networks:
      - bigdata_net
    command: >
      --requirepass "bigdata2024"
      --appendonly yes
    environment:
      - REDIS_PASSWORD=bigdata2024

volumes:
  pg_data:
  ch_data:
  # cass_data:
  neo_data:
  mongo_data:
  valkey_data:

networks:
  bigdata_net:
    driver: bridge